*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main>section{
 width: 70%;
 margin: 0 auto;
 text-align: center;

}

h1{
text-transform: uppercase;
padding: 3rem 0; 
text-align: center;
}

input,button{
    
    width: 50%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 1px solid transparent;
    
}

input:hover{
    border: 1px solid magenta;
}



ul{
    list-style: none;
    
    
}

li{
    font-size: xx-large;
    width: 100%;
    padding: 0.5rem 5rem;
   
    display: flex;
    justify-content: space-between;
    
}



li.barra{
    text-decoration: line-through;
}

li.elemList>span>i:hover{
    color: red;
}

p.addList{
    padding-top: 5rem;
    font-size: xx-large;
}